/*PRINCIPALES */
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.pagina{
  width: 100%;
  height: 900px;
}
.panel{
  float: left;
  width: 100%;
  height: 10%;
  background-color: #3752D9;
}
.contenido{
  float: left;
  width: 100%;
  height: 90%;
}

/*COLORES */
.blanco{
  color: #FFF;
}

/*PANEL */
.logoPanel{
  width: 500px;
}
.usuarioPanel{
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  color: #FFF;
}
.botonBuscar{
  margin-right: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #FFF;
  color: #3752D9;
  font-weight: bold;
}
.buscardorPanel{
  margin-right: 10px;
  height: 30px;
}

/*CONTENIDO */
