/*PRINCIPALES */
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.pagina{
  width: 100%;
  height: 900px;
}
.panel{
  top: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 10%;
  background-color: #3752D9;
  position: fixed;
}
.contenido{
  float: left;
  width: 100%;
  height: 90%;
}

/*COLORES */
.blanco{
  color: #FFF;
}

/*PANEL */
.logoPanel{
  width: 340px;
}
.usuarioPanel{
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  color: #FFF;
}
.botonBuscar{
  margin-right: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #FFF;
  color: #3752D9;
  font-weight: bold;
}
.buscardorPanel{
  margin-right: 10px;
  height: 30px;
}

/*CONTENIDO */
.contenido{
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.tituloContenido{
  color: #5E5E5E;
  background-color: #FFF;
  position: fixed;
}
.videosContenido{
  width: 60%;
  height: 200px;
  margin-top: 50px;
  border: 3px solid #3752D9;
  text-decoration: none;
}
.playContenido{
  width: 260px;
  height: 200px;
}
.videoC{
  float: left;
  width: 35%;
  height: auto;
}
.descripcionC{
  float: left;
  width: 65%;
  height: auto;
}
