 /*PRINCIPALES */
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.buitreBtn{
  background-color: #3752D9;
  color: #FFF;
  height: 38px;
}
.buitreBtn:hover{
  background-color: #FFF;
  color: #3752D9;
  height: 38px;
}
.pagina{
  width: 100%;
  height: 900px;
}



.panel{
  top: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 13%;
  max-height: 100PX;
  min-height: 78px;
  background-color: #3752D9;
  position: fixed;
}
.contenido{
  float: left;
  width: 100%;
  height: 90%;
}

/*COLORES */
.blanco{
  color: #FFF;
}

/*PANEL */
.logoPanel{
  width: 340px;
}
.logoPanelbuitre{
  display: none;
}
.usuarioPanel{
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  color: #FFF;
}
.botonBuscar{
  margin-right: 5px;
  height: 30px;
  border-radius: 5px;
  background-color: #FFF;
  color: #3752D9;
  font-weight: bold;
  width: 45px;
}
.botonBuscar:active, .botonBuscar:hover{
  background-color: #3333a2;
  color: #FFF;
}

.buscardorPanel{
  border: none;
  border-bottom: 2px solid gray;
  margin-right: 10px;
  height: 30px;

}
.icon-user{
  display: none;
}
/*CONTENIDO */
.contenido{
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.tituloContenido{
  color: #5E5E5E;
  background-color: #FFF;
  position: fixed;
}
.videosContenido{
  width: 60%;
  height: 200px;
  margin-top: 50px;
  border: 3px solid #3752D9;
  text-decoration: none;
}
.playContenido{
  width: 260px;
  height: 200px;
}
.videoC{
  float: left;
  width: 35%;
  height: auto;
}
.descripcionC{
  float: left;
  width: 65%;
  height: auto;
}

/* FORMULARIO */
.formularioIniciar{
  display: flex;
  justify-content: center;
}
.txtIniciar{
  font-size: 20px;
  font-weight: bold;
}
.inputIniciar{
  height: 20px;
  font-size: 15px;
}

/* USUARIO */
.usuario{
  color: #5E5E5E;
  margin-top: 60px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.panelUsCon{
  width: 100%;
}
.panelUsConD{
  float: left;
  width: 20%;
}
.panelUsConI{
  float: left;
  width: 70%;
  margin-left: 10%;
}
.imgUser{
  width: 200px;
  height: 200px;
  border-radius: 1px #000;
}
.tituloUsuario{
  color: #5E5E5E;
  background-color: #FFF;
  margin-bottom: -5%;
}

/* SUBIR VIDEOS */
.subirVideos{
  display: flex;
  justify-content: center;
}

/* VER VIDEO */
.verVideo{
  color: #5E5E5E;
  margin-top: 60px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.reproductor{
  width: 450px;
}
.videoCon{
  width: 100%;
}
.videoConD{
  float: left;
  width:40%;
}
.videoConI{
  float: left;
  width: 60%;
}
/*movil*/
@media (max-width:780px) {
  body{
    margin: 0;

  }
  /*header*/
  .logoPanel{
    display: none;
  }
  .logoPanelbuitre{
    border-radius: 50%;
    display: block;
    width: 90px;
    height: auto;
  }
  .panel{
    top: 0;
    padding: 0;
    float: left;
    width: 100%;
    height: 10%;
    background-color: #3752D9;
    position: fixed;
  }
  .buscardorPanel {
    border: none;
    border-bottom: 2px solid #2c2c2ce6;
    background: fixed;
    color: black;
    position: fixed;
    top: 5px;
    right: 80px;
    width: 40%;
    border-radius: 5%;
  }

  /*cambio de color puntero en posicion de elemento*/
  .buscardorPanel:hover{
    background: #eae3e3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .buscardorPanel:focus{
    background: #eae3e3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .botonBuscar{
    position: fixed;
    top: 5px;
    right: 46px;
  }
  .usuarioPanel {
    float: right;
    margin: 0px;
    color: #FFF;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
  .botonBuscar {

    margin-right: 0px;
    height: 30px;
    border-radius: 5px;
    background-color: #3752D9;;
    color: #FFF;
    font-weight: bold;
    border: none;


}
/*icono de sesion */
.icon-user{
  display: block;
  position: fixed;
top: 10px;
right: 10px;
font-size: 26px;
}
/*.users-in{
  width: 10em;
  overflow: hidden;
  position: fixed;
  top: 42px;
  right: 32px;
  font-size: 16px;
}*/
.users-in{
  width: 10em;
  overflow: hidden;
  position: fixed;
  top: 42px;
  right: 32px;
  font-size: 16px;
  background: #3b4f87;
}
.users-in{
  height: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.users-in a{
  padding: 6px;
  display: inline-block;
  width: 145px;
}
.users-in a:hover{
color: #000;
background: #4d5e90;
}
.users-in:hover{
  height: 3.9em;
  padding-top: 0px;
  padding-right: 1.5em;
  position: fixed;
  top: 42px;
  right: 32px;
  font-size: 16px;
}
.icon-user:hover{
  cursor: pointer;
}
.users-in:before {
  content: "x";
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 20px;
}
.icon-user:hover + .users-in{
  position: fixed;
  top: 42px;
  right: 32px;
  font-size: 16px;
  background: #3b4f87;
  padding-right: 1.5em;
  height: 3.9em;
}
.uses-in:hover{
  font-size: 16px;
  background: #3b4f87;
}
  /*contenido*/
  .videosContenido {

    width: 90%;
    height: 94px;
    margin-top: 50px;
    border: 3px solid #3752D9;
    text-decoration: none;

}
.tituloContenido {

    color: #5E5E5E;
    background-color: #FFF;
    position: fixed;
    font-size: 13px;

}
.panel {

    top: 0;
    padding: 0;
    float: left;
    width: 100%;
    height: 21%;
    background-color: #3752D9;
    position: fixed;

}
}
